RewriteEngine on

#Force from http to https
RewriteCond %{HTTPS} off 
RewriteCond %{HTTP_HOST} =www.banana866.com
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301]

RewriteCond $1 !^(index\.php)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]